.custom-button {
  transition: all 0.2s ease;
  vertical-align: middle;
  text-align: center;
}

.custom-button:disabled {
  pointer-events: none;
}

.custom-button .ml-custom-spinner {
  margin-left: 8px;
}

.custom-button-primary:not(:disabled) {
  background-color: #377e3f;
  color: #ffffff;
}

.custom-button-primary:hover {
  background-color: #295f2f;
  box-shadow: 8px 8px 20px rgba(55, 126, 63, 0.15);
}

.custom-button-primary:disabled {
  background-color: #e1ece2;
  color: #c3c3cb;
}

.custom-button-secondary {
  background-color: #ffffff !important;
  border: 1.5px solid #377e3f !important;
  color: #000;
  margin-top: 1em;
}

.button {
  border-radius: 6px;
  font-weight: normal;
  line-height: 120%;
  outline: none;
  border: none;
  cursor: pointer;
}
