.mb_download_app {
  background: #f5f5f5;
  padding-top: 3em;

  &_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2em;
  }

  &_left {
    &_header {
      color: #272727;
      font-size: 35px;
      font-weight: 600;
      margin: 0 0 0.6em;
      line-height: 1.2em;
    }

    &_content {
      margin: 0;
      color: #6f6f6f;
      line-height: 25px;
      font-weight: 400;
      font-size: 18px;
    }

    &_btn-container {
      display: flex;
      align-items: center;
      gap: 2em;
      margin-top: 2em;
      flex-direction: column;
    }

    &_btn {
      padding: 1em;
      border-radius: 4px;
      outline: none;
      border: none;
      cursor: pointer;
      background: #3a3a3a;
      display: flex;
      gap: 0.5em;
      align-items: center;
      color: #f8f8f8;
      width: 70%;
      margin: 0 auto;

      p {
        margin: 0;
        font-size: 13px;
        font-weight: 300;
        padding: 0;
        text-align: start;

        span {
          font-size: 18px;
          font-weight: 600;
          margin: 0;
        }
      }

      &-image {
        width: 35px;
        height: 35px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &_right {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .mb_download_app {
    &_container {
      flex-direction: row;
    }

    &_left {
      width: 40%;

      &_header {
        font-size: 45px;
      }
      &_content {
        width: 75%;
      }

      &_btn-container {
        flex-direction: row;
      }

      &_btn {
        margin: 0;
        width: auto;
      }
    }

    &_right {
      width: 45%;
    }
  }
}
