.mb_service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;

  .reverse {
    order: 2;
  }

  &_list {

    &_container {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    &_item {
      display: flex;
      align-items: center;
      gap: 1em;
      font-weight: 300;
      font-size: 18px;
      color: #6a6a6a;

      &_icon {
        color: #377e3f;
        font-size: 25px;
        font-weight: 700;
      }
    }

    &_header {
      color: #272727;
      font-weight: 400;
      font-size: 28px;
      margin-bottom: 1em;
      text-transform: capitalize;
    }
  }

  &_image_container {
    width: 60%;
    background: #c1d7c3;
    padding: 1.3em 1.5em;
    border-radius: 24px;
    img {
      width: 100%;
      height: 100%;
      // object-fit: contain;
      border-radius: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .mb_service {
    flex-direction: column;
    &_image_container {
      order: 1;
      width: 100%;
      border-radius: 12px;
      padding: 1em;
      img {
        border-radius: 12px;
      }
    }

    &_list {
      order: 2;
    }
  }
}
