.mb_testimonial {
  padding-block: 2em;

  &_container {
    width: 90%;
    margin: 0 auto;

    &-header {
      color: #272727;
      font-size: 45px;
      font-weight: 600;
      margin: 0;
      text-align: center;
      margin-bottom: 2em;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }
}
