$light_green: #effffa;
$dark_green: #14da8f;
$black: #000000;
$white: #fff;
.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mb_landing_page_navbar {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &_left {
    display: flex;
    align-items: center;
    gap: 5em;
    width: fit-content;
    min-width: 30%;
    justify-content: space-between;

    &-list_container {
      padding: 0;
      margin: 0;
      display: none;
      align-items: center;
      justify-content: space-between;
      gap: 2.5em;

      li {
        list-style-type: none;
        font-size: 16px;
        font-weight: 300;

        a {
          color: #959595;
          text-decoration: none;
          transition: all 200ms ease-in-out;
        }
      }

      .active {
        a {
          color: #377e3f;
        }
      }
    }
  }

  &_right {
    display: none;
    align-items: center;
    gap: 0.5em;

    .button {
      border-radius: 4px;
      font-weight: 400;
      line-height: 120%;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 14px;
      padding: 16px 20px;
      transition: all 0.2s ease;
      vertical-align: middle;
      text-align: center;
      width: 100px;
      font-size: 16px;
      letter-spacing: -0.004em;
      text-decoration: none;
    }

    &-login_button {
      color: #377e3f;
      background: transparent;

      &:hover {
        border: 1px solid #377e3f;
      }
    }

    &-signup_button {
      background-color: #377e3f;
      color: white;

      &:hover {
        background-color: #295f2f;
        box-shadow: 8px 8px 20px rgba(55, 126, 63, 0.15);
      }
    }
  }

  &-hamburger {
    display: block;
  }

  &-container {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    @extend .dflex;
  }

  .mb_logo_wrapper {
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .mb_landing_page_navbar {
    &-hamburger {
      display: none;
    }

    &_left {
      &-list_container {
        display: flex;
      }
    }

    &_right {
      display: flex;
    }
  }
}
