.mb_frequently_asked_question {
  transition: all 300ms ease-in-out;

  .menu_opened {
    height: 100px;
  }
  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    .header {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      width: 60%;
      text-align: start;
    }

    .icon {
      font-size: 20px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }
    .icon_up {
      transform: rotate(180deg);
    }
  }
  .text_container {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    .text {
      font-weight: 300;
      font-size: 16px;
      line-height: 1.3rem;
    }
  }
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
