:root {
  --light-green: #00ff00;
  --green: #62cf3a;
  --dark-green: #00b400;
  --transparent-green: #62cf3a0d;
  --red: #be1e2d;
  --dark-red: #bb7a02;
  --white: #ffffff;
  --grey: #a0a0a0;
  --milk: #f2ece8;
  --black: #000000;
  --input-background: #f8f4ff;
  --modal-background: rgba(0, 0, 0, 0.2);
  --large-heading1: 60px;
  --big-heading1: 50px;
  --medium-heading1: 45px;
  --small-heading1: 30px;
  --mini-heading1: 25px;
  --big-paragraph: 20px;
  --medium-paragraph: 18px;
  --normal-paragraph: 16px;
  --small-paragraph: 14px;
  --mini-paragraph: 12px;
  --micro-paragraph: 10px;
  --nano-paragraph: 8px;
  --dashboard-background: #f9fbfb;
  --small-screen: 576px;
  --medium-screen: 768px;
  --large-screen: 992px;
  --extra-large-screen: 1200px;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
