on:
    push:
        branches:
            - master
        paths:
            - "build_prod.sh"
            - ".github/workflows/prod.yaml"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout staging
              uses: actions/checkout@v4

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
              with:
                  platforms: all

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
              with:
                  platforms: linux/amd64,linux/arm64

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and Push Docker Image
              run: |
                  chmod +x ./build_prod.sh
                  # Pass platform flag to your build script
                  ./build_prod.sh -u ${{ secrets.DOCKERHUB_USERNAME }} -p linux/amd64 -P
